<div ng-controller='HallOfHeroesController'>  
  <div class="stripe-light">
    <div class="col-md-10 col-md-offset-1 text-center">
      <div class="marvel-shape-hall">
        <div class="hall-header font-xlarge font-primary white">
          <p>HALL OF HEROES</p>
          <!-- <p>angular route test {{6*7}}</p> -->
        </div>
        <a ui-sref='home'>
          <div class="marvel-shape-link">

          </div>
        </a>
        <div class="marvel-shape-hall-list-01 text-left marvel-list">
          <a ui-sref='home.hero'>
            <p class="font-secondary font-large red text-center push-left">
            <%= image_tag "supername-metal-boy-01.png", height:"50em"%>METAL BOY</p>
          </a>
        </div>
        <div class="marvel-shape-hall-list-02 text-left marvel-list">
          <a ui-sref='home.hero'>
            <p class="font-secondary font-large red text-center push-left">
            <%= image_tag "supername-queen-gloomy-01.png", height:"50em"%>QUEEN GLOOMY</p>
          </a>
        </div> 
        <div class="marvel-shape-hall-list-03 text-left marvel-list">
          <a ui-sref='home.hero'>  
            <p class="font-secondary font-large red text-center push-left">
            <%= image_tag "supername-green-monster-01.png", height:"50em"%>GREEN MONSTER</p>
          </a>  
        </div>
        <div class="marvel-shape-hall-list-04 text-left marvel-list">
          <a ui-sref='home.hero'>  
            <p class="font-secondary font-large red text-center push-left">
            <%= image_tag "supername-weird-healer-01.jpg", height:"50em"%>WEIRD HEALER</p>
          </a>  
        </div>  
        <div class="marvel-shape-hall-list-05 text-left marvel-list">
          <a ui-sref='home.hero'>
            <p class="font-secondary font-large red text-center push-left">
            <%= image_tag "supername-she-tempest-01.jpg", height:"50em"%>SHE-TEMPEST</p>
          </a>  
        </div>
        <!-- <div class="home-image-large">
          <div class="font-box">
            <h1 class="font-primary font-large text-left">
            WHICH MARVEL CHARACTER DO YOU LOOK LIKE?
            </h1>
            <h1 class="font-primary font-medium text-left">
            ENTER AN INSTAGRAM USER NAME OR PHOTO URL TO FIND
            YOUR MARVEL LOOK-A-LIKE & YOUR <span>SUPERNAME!</span>
            </h1>
          </div> -->
        </div>
      </div>
    </div>  
  </div>
</div>


    <!--  
    <div class="col-md-6 font-primary">
      <h1>Hall of Heroes</h1>
      <p>angular route test {{6*7}}</p>
    </div>
    -->