<!DOCTYPE html>
<html>
<head>
  <title>Be Marvel.Us</title>
  <%= favicon_link_tag 'Marvel-icon-01.png' %>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body ng-app='beMarvelApp'>
  <div class="container-fluid text-center stripe-dark">
    <div class="navbar navbar-default navbar-fixed-top navbar-inverse">
      <div class="col-md-10 col-md-offset-1"> 
        <div class="navbar-left font-primary">
          <a class="navbar-brand" ui-sref="/" href="/home">
            <%= image_tag 'Marvel-logo-01.png', height: '75' %>
          </a>
        </div>
        <div class="navbar-right">
          <ul class="header-list font-primary font-small">
            <li><a ui-sref='home.hall-of-heroes'>Hall of Heroes</a></li>
            <li><a ui-sref='home.about'>About</a></li>
            <li><a ui-sref='home'>Home</a></li>  
          </ul>
        </div>
      </div>  
    </div>


      <%= yield %>

    <div class="navbar navbar-default footer navbar-inverse" >
      <div class="font-primary white">
        <p>"Data provided by Marvel. © 2014 Marvel"</p> 
      </div>  
    </div>  
  </div>  
</body>
</html>
