<!DOCTYPE html>
<html>
<head>
  <title>Be Marvel.Us</title>
  <%= favicon_link_tag 'Marvel-icon-01.png' %>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body ng-app='beMarvelApp'>
  <div class="container-fluid text-center stripe-dark">
    <div class="navbar navbar-default navbar-fixed-top navbar-inverse">
      <div class="col-md-10 col-md-offset-1"> 
        <div class="navbar-left font-primary">
          <a href="/">
            <%= image_tag 'Marvel-logo-01.png', height: '75' %>
          </a>
        </div>
        <div class="navbar-right">
          <ul class="header-list font-primary font-small">
            <li><a ui-sref='home.hall-of-heroes'>Hall of Heroes</a></li>
            <li><a ui-sref='home.about'>About</a></li>
            <li><a ui-sref='home'>Home</a></li>  
          </ul>
        </div>
      </div>  
    </div>


      <%= yield %>
      <%= render 'partials/footer' %>
<!--     <div class="footer-top">

    </div>
    <div class="navbar navbar-default footer navbar-inverse" >
      <div class="font-primary grey">
        <div class="container">
          <div class="col-md-6">
            <p class="white font-small text-left">"Data provided by Marvel. © 2014 Marvel"</p>
          </div>
          <div class="col-md-4">
            <p class="white font-small text-left">built by AM © 2014</p>
          </div>
          <div class="col-md-2">
            <p class="white font-small text-right">empowered by <br>WDI DTLA-01
            </p>
            <a class="ga-logo" href="/">
              <%= image_tag 'GA-logo-01.png', height: '32' %>
            </a>
          </div>
        </div> 
      </div>  --> 
    </div>  
  </div>  
</body>
</html>
