<!DOCTYPE html>
<html>
<head>
  <title>Be Marvel.Us</title>
  <%= favicon_link_tag 'Marvel-icon-01.png' %>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body ng-app='beMarvelApp'>
  <div class="container-fluid text-center stripe-dark">
    <!-- header in partial -->
    <%= render 'partials/header' %>

      
      <%= yield %>

      <!-- double footer in partial -->
    <%= render 'partials/footer' %>  
  </div>  
</body>
</html>
